In [5]:
import flor
flor.utils.latest(flor.dataframe("seed", "lr", "loss", "accuracy", "device"))

,projid,tstamp,filename,epoch,epoch_value,step,seed,lr,loss,accuracy,device
0,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,500,2534407392,0.001,0.9460157752037048,71.71,mps
1,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,1000,2534407392,0.001,1.0491496324539185,71.71,mps
2,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,1500,2534407392,0.001,1.344419002532959,71.71,mps
3,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,500,2534407392,0.001,0.9460157752037048,71.71,mps
4,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,1000,2534407392,0.001,1.0491496324539185,71.71,mps
...,...,...,...,...,...,...,...,...,...,...,...
70,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1000,2534407392,0.001,0.8980441093444824,71.71,mps
71,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1500,2534407392,0.001,0.24625436961650848,71.71,mps
72,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,500,2534407392,0.001,0.7146424055099487,71.71,mps
73,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1000,2534407392,0.001,0.8980441093444824,71.71,mps
74,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1500,2534407392,0.001,0.24625436961650848,71.71,mps

In [3]:
flor.dataframe()

,projid,tstamp,filename,device,seed,hidden,epochs,batch_size,lr,print_every,accuracy,correct
0,ml_tutorial,2024-03-04 12:57:04,train.py,mps,3163843977,500,5,32,0.001,500,92.55,9255
1,ml_tutorial,2024-03-04 13:06:57,train.py,mps,387873906,500,5,32,0.001,500,82.41,8241
2,ml_tutorial,2024-03-04 13:20:13,train.py,mps,467469192,500,5,32,0.0001,500,92.7,9270
3,ml_tutorial,2024-03-04 13:21:48,train.py,mps,3166085648,500,5,32,0.0001,500,92.57,9257
4,ml_tutorial,2024-03-04 14:53:30,train.py,mps,2534407392,500,5,32,0.001,500,71.71,7171

In [2]:
import flor
flor.dataframe("seed", "lr", "loss")

In [3]:
df

,projid,tstamp,filename,epoch,epoch_value,step,seed,lr,loss
0,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,500,2534407392,0.001,0.9460157752037048
1,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,1000,2534407392,0.001,1.0491496324539185
2,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,1500,2534407392,0.001,1.344419002532959
3,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,500,2534407392,0.001,0.9460157752037048
4,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,1000,2534407392,0.001,1.0491496324539185
...,...,...,...,...,...,...,...,...,...
70,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1000,2534407392,0.001,0.8980441093444824
71,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1500,2534407392,0.001,0.24625436961650848
72,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,500,2534407392,0.001,0.7146424055099487
73,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1000,2534407392,0.001,0.8980441093444824
74,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1500,2534407392,0.001,0.24625436961650848

In [4]:
df.sort_values(by=['epoch', 'step'])

,projid,tstamp,filename,epoch,epoch_value,step,seed,lr,loss
0,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,500,2534407392,0.001,0.9460157752037048
3,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,500,2534407392,0.001,0.9460157752037048
6,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,500,2534407392,0.001,0.9460157752037048
9,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,500,2534407392,0.001,0.9460157752037048
12,ml_tutorial,2024-03-04 14:53:30,train.py,1,0,500,2534407392,0.001,0.9460157752037048
...,...,...,...,...,...,...,...,...,...
62,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1500,2534407392,0.001,0.24625436961650848
65,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1500,2534407392,0.001,0.24625436961650848
68,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1500,2534407392,0.001,0.24625436961650848
71,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1500,2534407392,0.001,0.24625436961650848
74,ml_tutorial,2024-03-04 14:53:30,train.py,5,4,1500,2534407392,0.001,0.24625436961650848